<header>
    <div class="logo">Smart Survey</div>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li>
                <a routerLink="/services">Services</a>
                <ul>
                    <li><a routerLink="/services/web-design">Questions</a></li>
                    <li><a routerLink="/services/seo">Templates</a></li>
                    <li><a routerLink="/services/marketing">Users</a></li>
                </ul>
            </li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="auth-links">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
    </div>
</header>
    <div style="text-align: center;">
        <strong>
        <p style="font-size: 1.5em;">Smart Survey is a SaaS survey platform offering the following features</p>
    
      <p>Drag-and-drop survey creation with various question types, pre-built templates, and customization options.</p>
      <p>Supports multi-channel distribution (email, SMS, web, social)</p>
      <p>Real-time data collection with response validation and anonymity options.</p> 
      <p>Key analytics features include customizable reports, real-time dashboards, and advanced analysis (e.g., sentiment, benchmarking). </p>
      <p>The platform integrates with CRMs, marketing tools, and APIs, enabling automation.</p> 
      <p>Security features include data encryption, GDPR/CCPA compliance and SSO integration. </p>
      <p>It provides team collaboration, role-based access, and custom branding.</p>
      <p>Scalability and flexible pricing plans for different business needs.</p>
    </strong>
    </div>
<footer>
    &copy; 2023 Valayathil. All rights reserved.
</footer>